* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none; }

input,
button {
  outline: none; }

a {
  color: #8dc63f; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #448ccb; }

::-webkit-scrollbar-thumb:hover {
  background: #374047; }

nav {
  width: 100%;
  height: 250px;
  background: #192229; }
  nav .menu {
    width: 100%;
    height: 125px;
    background: transparent;
    transition: 0.2s;
    box-shadow: 0px 0px 3px 0px #adadad5e; }
    nav .menu .body_menu {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 125px; }
      nav .menu .body_menu .body_name {
        width: 312px;
        height: 90px;
        display: flex; }
        nav .menu .body_menu .body_name .logo {
          width: 80px;
          height: 80px;
          background: url("../image/logo.png") no-repeat center center;
          background-size: cover; }
        nav .menu .body_menu .body_name .body_text {
          margin-left: 5px; }
          nav .menu .body_menu .body_name .body_text .name_site {
            color: #fff;
            font-size: 25px;
            padding-top: 15px;
            font-weight: 500;
            color: #8dc53e;
            transition: 0.2s; }
            nav .menu .body_menu .body_name .body_text .name_site:hover {
              color: #fff; }
          nav .menu .body_menu .body_name .body_text .text {
            color: #ffffff94;
            font-weight: 100; }
      nav .menu .body_menu ul {
        display: flex; }
        nav .menu .body_menu ul li {
          list-style: none; }
          nav .menu .body_menu ul li a {
            color: #fff;
            padding: 40px 22px;
            font-size: 25px; }
            nav .menu .body_menu ul li a:hover {
              transition: 0.2s;
              color: #448ccb; }
      nav .menu .body_menu .mob_menu {
        display: none;
        position: relative;
        width: 45px;
        height: 60px;
        background-size: cover;
        margin-right: 25px;
        transition: 0.4s; }
        nav .menu .body_menu .mob_menu i:nth-of-type(1) {
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          top: 5px;
          background: #8dc63f;
          border-radius: 5px;
          transition: 0.2s; }
        nav .menu .body_menu .mob_menu i:nth-of-type(2) {
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          top: 22px;
          background: #8dc63f;
          border-radius: 5px;
          transition: 0.2s; }
        nav .menu .body_menu .mob_menu i:nth-of-type(3) {
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          top: 39px;
          background: #8dc63f;
          border-radius: 5px;
          transition: 0.2s; }
        nav .menu .body_menu .mob_menu:hover i:nth-of-type(1) {
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          top: 5px;
          background: #fff;
          border-radius: 5px; }
        nav .menu .body_menu .mob_menu:hover i:nth-of-type(2) {
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          top: 22px;
          background: #fff;
          border-radius: 5px; }
        nav .menu .body_menu .mob_menu:hover i:nth-of-type(3) {
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          top: 39px;
          background: #fff;
          border-radius: 5px; }
  nav .tel {
    width: 100%;
    height: 125px;
    background: #448ccb; }
    nav .tel .body_tel {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav .tel .body_tel .info_compani {
        max-width: 500px;
        height: 125px;
        display: flex;
        justify-content: center;
        align-items: center; }
        nav .tel .body_tel .info_compani .icon_tel {
          width: 100px;
          height: 100px;
          position: relative; }
          nav .tel .body_tel .info_compani .icon_tel .icon_tel_img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(../image/call.png) no-repeat center center;
            background-size: 100px; }
        nav .tel .body_tel .info_compani .text_comp {
          margin-left: 20px; }
          nav .tel .body_tel .info_compani .text_comp .text_call {
            color: #192229;
            padding: 0px 0px 0px 0px;
            text-transform: capitalize;
            font-size: 20px; }
          nav .tel .body_tel .info_compani .text_comp .num_tel {
            font-size: 42px;
            color: #fff; }
            nav .tel .body_tel .info_compani .text_comp .num_tel a {
              color: #fff; }
          nav .tel .body_tel .info_compani .text_comp .comp_days {
            color: #8cc9ff; }
    nav .tel .Contact {
      padding: 15px 60px;
      background: #8dc63f;
      border: 0px;
      border-radius: 5px;
      color: #fff;
      font-size: 22px;
      cursor: pointer; }
      nav .tel .Contact:hover {
        transition: 0.2s;
        background: #668f2c; }

header {
  width: 100%;
  height: 700px;
  background: url("../image/header.jpg") no-repeat center center;
  background-size: cover;
  position: relative; }
  header .body_header {
    width: 100%;
    height: 100%;
    background: #192229f7;
    position: absolute;
    left: 0;
    top: 0; }
    header .body_header .heander_contener {
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      header .body_header .heander_contener h1 {
        font-size: 4em;
        color: #fff;
        font-weight: 100;
        width: 70%;
        margin-top: 150px; }
      header .body_header .heander_contener h2 {
        color: #8dc63f;
        font-weight: 100; }
      header .body_header .heander_contener .form_num {
        display: flex;
        margin-top: 15px; }
        header .body_header .heander_contener .form_num .f_inp_num {
          background: #fff;
          width: 320px;
          padding: 13px 10px;
          font-size: 20px;
          border: 2px solid #8dc63f;
          border-radius: 8px 0px 0px 8px; }
        header .body_header .heander_contener .form_num .save_number {
          background: #8dc63f;
          border: 2px solid #8dc63f;
          padding: 0px 15px;
          font-size: 18px;
          color: #fff;
          cursor: pointer;
          border-radius: 0 8px 8px 0; }
          header .body_header .heander_contener .form_num .save_number:hover {
            background: #b0e06b;
            border: 2px solid #b0e06b;
            transition: 0.4s; }

.open {
  transition: 0.8s; }

.plumbing {
  width: 100%;
  height: auto;
  padding-bottom: 20px; }
  .plumbing .open_services_son {
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    border: 0px;
    background: #192229;
    border-radius: 30px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer; }
    .plumbing .open_services_son:hover {
      transition: 0.2s;
      background: #192229bb; }
  .plumbing .plumbing_body, .plumbing .plumbing_body_two {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    transition: 0.5s;
    opacity: 0; }
    .plumbing .plumbing_body h1, .plumbing .plumbing_body_two h1 {
      position: absolute;
      left: 0;
      top: 45px;
      right: 0;
      text-align: center;
      font-size: 40px;
      color: #192229;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      margin: 0 auto; }
      .plumbing .plumbing_body h1 .plumbing_body_icon, .plumbing .plumbing_body_two h1 .plumbing_body_icon {
        width: 55px;
        height: 55px;
        border-radius: 30px;
        margin-right: 5px; }
    .plumbing .plumbing_body .plumbing_prod, .plumbing .plumbing_body_two .plumbing_prod {
      width: 350px;
      height: 140px;
      position: relative;
      padding: 40px 0px 0px 25px;
      background: #19222908;
      border-radius: 20px;
      transition: 0.4s;
      cursor: pointer;
      margin: 15px;
      z-index: 1; }
      .plumbing .plumbing_body .plumbing_prod .icon, .plumbing .plumbing_body_two .plumbing_prod .icon {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        top: 10px;
        z-index: -1;
        opacity: 1;
        right: 0px; }
      .plumbing .plumbing_body .plumbing_prod::after, .plumbing .plumbing_body_two .plumbing_prod::after {
        content: '';
        position: absolute;
        width: 55px;
        height: 3px;
        background: #8dc63f;
        left: 25px;
        top: 25px;
        border-radius: 10px; }
      .plumbing .plumbing_body .plumbing_prod .title, .plumbing .plumbing_body_two .plumbing_prod .title {
        color: #448ccb;
        font-size: 20px;
        font-weight: 500; }
      .plumbing .plumbing_body .plumbing_prod:hover, .plumbing .plumbing_body_two .plumbing_prod:hover {
        background: #448ccb; }
      .plumbing .plumbing_body .plumbing_prod:hover .title, .plumbing .plumbing_body_two .plumbing_prod:hover .title {
        color: #e4e2e2;
        text-shadow: 0px 0px 9px #448ccb; }
      .plumbing .plumbing_body .plumbing_prod:hover .price, .plumbing .plumbing_body_two .plumbing_prod:hover .price {
        color: #ffffffcc; }
      .plumbing .plumbing_body .plumbing_prod .price, .plumbing .plumbing_body_two .plumbing_prod .price {
        color: #8a8a8a;
        text-align: left;
        padding: 10px 0px;
        font-size: 18px;
        font-weight: 400; }

.electronik {
  transition: 0.5s;
  opacity: 0; }

.service {
  width: 100%;
  height: 500px;
  background: #f7f8f8; }
  .service .body_service {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .service .body_service .info_sel {
      width: 250px;
      height: 400px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0px 10px;
      justify-content: center;
      text-align: center;
      transition: 0.5s;
      transform: scale(0); }
      .service .body_service .info_sel .circlicon {
        width: 200px;
        height: 200px;
        background: #fff;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        .service .body_service .info_sel .circlicon .icon_so {
          background-size: cover;
          width: 60px;
          height: 60px; }
      .service .body_service .info_sel .text_service {
        font-size: 30px;
        height: 150px; }

.commetns_users {
  width: 100%;
  height: auto;
  background: #8dc63f; }
  .commetns_users .body_commetns_users {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px; }
    .commetns_users .body_commetns_users .title {
      font-size: 3em;
      color: #fff;
      margin-top: 50px;
      position: relative; }
    .commetns_users .body_commetns_users .title::before {
      content: "";
      position: absolute;
      left: 0px;
      top: -35px;
      width: 70px;
      height: 3px;
      background: #192229; }
    .commetns_users .body_commetns_users .contet {
      width: 100%;
      height: 400px;
      display: flex;
      align-items: center; }
      .commetns_users .body_commetns_users .contet .contener {
        width: 360px;
        height: 100%;
        margin: 0px 20px; }
        .commetns_users .body_commetns_users .contet .contener .page_comm {
          width: 100%;
          height: auto;
          background: #fffefe;
          padding: 30px;
          color: #abaaaa;
          font-family: emoji;
          font-size: 17px;
          margin-bottom: 50px;
          margin-top: 45px;
          position: relative;
          line-height: 27px; }
          .commetns_users .body_commetns_users .contet .contener .page_comm::before {
            content: "";
            position: absolute;
            left: 30px;
            top: calc(100% + 0px);
            width: 45px;
            height: 45px;
            background: #fff;
            clip-path: polygon(0 0, 0% 100%, 100% 0); }
        .commetns_users .body_commetns_users .contet .contener .name_users {
          font-size: 28px;
          color: #fff; }
        .commetns_users .body_commetns_users .contet .contener .username {
          font-size: 15px;
          color: #192229d9;
          font-weight: unset;
          margin-top: 5px;
          font-family: monospace; }
      .commetns_users .body_commetns_users .contet .slick-next {
        position: absolute;
        right: -40px;
        background: #fffefeb8 url("../image/next.png") no-repeat center center;
        background-size: 35px;
        border: 0px;
        padding: 10px 15px;
        color: black;
        cursor: pointer;
        font-size: 0;
        width: 35px;
        height: 80px; }
        .commetns_users .body_commetns_users .contet .slick-next:hover {
          background: #fffefede url("../image/next.png") no-repeat center center;
          background-size: 35px;
          transition: 0.2s; }
      .commetns_users .body_commetns_users .contet .slick-prev {
        position: absolute;
        left: -40px;
        background: #fffefeb8 url("../image/prev.png") no-repeat center center;
        background-size: 35px;
        border: 0px;
        padding: 10px 15px;
        color: black;
        cursor: pointer;
        font-size: 0;
        width: 35px;
        height: 80px; }
        .commetns_users .body_commetns_users .contet .slick-prev:hover {
          background: #fffefede url("../image/prev.png") no-repeat center center;
          background-size: 35px;
          transition: 0.2s; }

.form_site {
  width: 100%;
  height: auto;
  background: #192229; }
  .form_site .contener {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end; }
    .form_site .contener .info_form {
      width: 700px;
      height: 250px;
      display: flex;
      justify-content: left;
      align-items: center; }
      .form_site .contener .info_form .icon {
        width: 150px;
        height: 150px;
        background: #448ccb url("../image/form.png") no-repeat center center;
        background-size: 50px;
        border-radius: 50%;
        margin-right: 10px; }
      .form_site .contener .info_form .info_form {
        width: 250px;
        height: 100%; }
      .form_site .contener .info_form .body_text_form .title {
        color: #fff;
        font-size: 40px; }
      .form_site .contener .info_form .body_text_form .text {
        color: #334553;
        font-size: 19px; }
    .form_site .contener .footer_form {
      width: 540px;
      height: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .form_site .contener .footer_form .phone {
        width: 350px;
        padding: 15px 10px;
        border: 2px solid #8dc63f;
        border-radius: 5px 0px 0px 5px;
        background: #fff;
        font-size: 20px;
        color: #192229; }
      .form_site .contener .footer_form .submit {
        padding: 15px 44px;
        color: #fff;
        border-radius: 0px 5px 5px 0px;
        background: #8dc63f;
        border: 2px solid #8dc63f;
        font-size: 20px;
        cursor: pointer; }

.maps_company {
  width: 100%;
  height: 500px; }

.men_scrolling {
  position: fixed;
  top: 0;
  background: #192229 !important;
  height: 75px !important;
  z-index: 10000 !important; }

.for_scroll_logo {
  width: 50px !important;
  height: 50px !important;
  margin-top: 15px; }

.nameSite {
  padding-top: 25px !important; }

.popup {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.555);
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  transition: 0.4s;
  opacity: 1; }
  .popup .back_body_popup {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .popup .popup_body {
    max-width: 600px;
    min-width: 300px;
    min-height: 250px;
    background: #fff;
    border-radius: 30px;
    position: relative;
    box-shadow: 0px 0px 0px 5px #448ccb; }
    .popup .popup_body .popup_close {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 1000; }
      .popup .popup_body .popup_close::after {
        content: "";
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: #8dc63f;
        transform: rotate(45deg); }
      .popup .popup_body .popup_close::before {
        content: "";
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: #8dc63f;
        transform: rotate(-45deg); }
    .popup .popup_body .massange_page_popup {
      width: 90%;
      margin: 0px auto;
      margin-top: 60px;
      border-top: 1px solid #8dc63f;
      padding: 10px 0px 30px 0px;
      font-size: 35px;
      color: #192229;
      text-align: center; }
      .popup .popup_body .massange_page_popup p:nth-of-type(1) {
        margin-bottom: 20px;
        font-weight: 500; }
      .popup .popup_body .massange_page_popup p:nth-of-type(2) {
        font-size: 25px; }

.menu_mobile_page {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 75px;
  padding-top: 30px;
  background: #192229f8;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 23px;
  transition: 0.4s;
  transform: translateX(-100%);
  padding-bottom: 50%; }
  .menu_mobile_page a {
    width: 100%;
    padding: 20px 30px; }
  .menu_mobile_page .menu_mobile_page_close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -55px;
    right: 20px;
    opacity: 0;
    transition: 0.4s; }
    .menu_mobile_page .menu_mobile_page_close::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background: #8dc63f;
      border-radius: 5px;
      top: 15px;
      right: 0px;
      transition: 0.4s;
      transform: rotate(45deg); }
    .menu_mobile_page .menu_mobile_page_close::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background: #8dc63f;
      border-radius: 5px;
      top: 15px;
      right: 0px;
      transition: 0.4s;
      transform: rotate(-45deg); }

footer {
  width: 100%;
  height: 200px;
  background: #192229;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer .f_logo {
    width: 320px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .f_logo .logo_f {
      width: 100px;
      height: 100px;
      background: url(../image/logo.png) no-repeat center center;
      background-size: cover; }
    footer .f_logo .f_logo_texts {
      width: 200px;
      height: auto; }
      footer .f_logo .f_logo_texts .text {
        color: #8dc63f;
        font-size: 30px;
        font-weight: 600; }
      footer .f_logo .f_logo_texts .sub_text {
        color: #fff; }
  footer .privace {
    color: #fff;
    font-size: 18px; }
    footer .privace a {
      color: #fff; }
      footer .privace a:hover {
        transition: 0.2s;
        color: #8dc63f; }
  footer .contact .num_tel {
    font-size: 38px;
    color: #fff; }
    footer .contact .num_tel .a {
      color: #fff; }
  footer .contact .comp_days {
    color: #fff; }

.heading_module_page {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #192229c0;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100000; }
  .heading_module_page .for_closing_module {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent; }
  .heading_module_page .module_page {
    width: 80%;
    height: 560px;
    background: #fff;
    border-radius: 20px;
    position: relative; }
    .heading_module_page .module_page .module_page_body {
      width: calc(100% - 40px);
      height: 100%;
      margin: 0 auto; }
      .heading_module_page .module_page .module_page_body .module_page_body_title {
        width: 100%;
        height: 55px;
        border-bottom: 1px solid #19222936;
        position: relative; }
        .heading_module_page .module_page .module_page_body .module_page_body_title .title {
          display: none; }
        .heading_module_page .module_page .module_page_body .module_page_body_title .close {
          position: absolute;
          right: 15px;
          top: 15px;
          width: 30px;
          height: 30px;
          cursor: pointer; }
          .heading_module_page .module_page .module_page_body .module_page_body_title .close:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 5px;
            background: #192229;
            top: 15px;
            right: 0;
            transform: rotate(45deg); }
          .heading_module_page .module_page .module_page_body .module_page_body_title .close::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 5px;
            background: #192229;
            top: 15px;
            right: 0;
            transform: rotate(-45deg); }
          .heading_module_page .module_page .module_page_body .module_page_body_title .close:hover {
            transition: 0.2s;
            transform: scale(1.1); }
      .heading_module_page .module_page .module_page_body .module_page_body_contener {
        width: 100%;
        height: 100%; }
        .heading_module_page .module_page .module_page_body .module_page_body_contener .orders_name {
          width: 100%;
          overflow-y: scroll;
          padding: 0px 5px;
          min-height: 320px;
          max-height: 360px; }
          .heading_module_page .module_page .module_page_body .module_page_body_contener .orders_name .title_or_rows {
            text-align: center;
            display: block !important;
            font-weight: 500; }
          .heading_module_page .module_page .module_page_body .module_page_body_contener .orders_name .orders_row {
            width: 100%;
            padding: 15px 0px;
            color: #192229;
            border-bottom: 1px solid #1922291f;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative; }
            .heading_module_page .module_page .module_page_body .module_page_body_contener .orders_name .orders_row .orders_row_title {
              width: 320px; }
            .heading_module_page .module_page .module_page_body .module_page_body_contener .orders_name .orders_row span:nth-of-type(2) {
              width: 100px; }
            .heading_module_page .module_page .module_page_body .module_page_body_contener .orders_name .orders_row button {
              padding: 6px 20px;
              border: 0px;
              color: #fff;
              background: #8dc63f;
              float: right;
              border-radius: 3px;
              cursor: pointer; }
        .heading_module_page .module_page .module_page_body .module_page_body_contener .send_massange {
          width: 100%;
          position: relative;
          margin-top: 5px;
          text-align: center;
          padding-bottom: 10px; }
          .heading_module_page .module_page .module_page_body .module_page_body_contener .send_massange .send_massange_text {
            color: #192229;
            font-size: 25px;
            display: inline-block;
            font-weight: 500; }
          .heading_module_page .module_page .module_page_body .module_page_body_contener .send_massange .send_massange_sub_text {
            color: #192229a6;
            font-size: 20px;
            padding: 0px 0px 10px 0px; }
          .heading_module_page .module_page .module_page_body .module_page_body_contener .send_massange .form_popups {
            width: 400px;
            height: auto;
            display: flex;
            justify-content: left;
            align-items: center;
            margin: 0 auto; }
            .heading_module_page .module_page .module_page_body .module_page_body_contener .send_massange .form_popups .phone_module {
              width: 250px;
              padding: 10px 5px;
              font-size: 20px;
              border-radius: 5px 0px 0px 5px;
              border: 2px solid #8dc63f; }
            .heading_module_page .module_page .module_page_body .module_page_body_contener .send_massange .form_popups .submit {
              padding: 10px 35px;
              font-size: 20px;
              color: #fff;
              background: #8dc63f;
              border-radius: 0px 5px 5px 0px;
              border: 2px solid #8dc63f;
              cursor: pointer; }

/*# sourceMappingURL=style.css.map */
